.icon {
  width: 48px;
  height: 48px;
}
.icon,
.text,
.title1 {
  position: relative;
}
.title1 {
  flex: 1;
  line-height: 24px;
}
.text {
  font-size: var(--body-medium-size);
  line-height: 22px;
}
.title {
  align-self: stretch;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--azul-oscuro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-3xs);
}
.text1,
.text2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.text2 {
  color: var(--character-mark);
}
.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text4,
.text6 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: var(--character-title-85);
}
.text6 {
  display: inline-block;
  width: 46px;
  flex-shrink: 0;
}
.text-wrapper {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-smi) 0;
}
.componentstable-columntext,
.generalwidget,
.table-celltext {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-celltext {
  overflow: hidden;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--character-secondary-45);
  font-family: var(--body-regular);
}
.componentstable-columntext,
.generalwidget {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-5);
}
.componentstable-columntext {
  margin: 0;
}
.generalwidget {
  border: 1px solid var(--neutral-1);
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--neutral-1);
  font-family: var(--body-regular);
}
